/* Reset some basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to top, #ffffff, #fef17b,#00aaff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container for the form */
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-form {
    
    border-radius: 8px;
    padding: 40px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0.1, 0.2, 0.3, 0.8);
  }
  
  .signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  input:focus {
    border-color: #76706e;
    box-shadow: 0 0 8px rgba(95, 90, 88, 0.5);
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #524541;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #fb984d;
  }
  
  /* Link */
  a {
    text-decoration: none;
    color: #ff562c;
  }
  
  a:hover {
    color: #fcb178;
  }
  